@{
    ViewData["Title"] = "P&aacute;gina de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprenda como <a href="https://docs.microsoft.com/aspnet/core">construir apps Web con ASP.NET Core</a>.</p>
</div>
